<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.illyasr.mydempviews">

    <permission-group android:name="${applicationId}.andpermission" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- <uses-permission android:name="android.permission.BIND_VPN_SERVICE" /> -->
    <!-- bilibili -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 震动权限 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- 步数权限 -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="feature:android.hardware.sensor.stepdetector" /> <!-- 安卓10.0版本以上必须申请的健身运动权限 -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="n">


        <activity
            android:name=".ui.activity.CuteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.tts.TTSActivity"
            android:exported="false" />
        <activity
            android:name=".gif.GIFActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.guaxiang.DivinationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notify.JSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notify.NotifyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.notify.NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.bilibili.BiliBiliActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.canender.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.vr.VRSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.dy.DouYinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HealthyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QrCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.qq.TensentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HeartActivity"
            android:exported="false" />
        <activity
            android:name=".phone.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.GetVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ColorActivity"
            android:exported="false" /> <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a146c2238facbc7dad126dc63a589e25" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.activity.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BarrageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivityText"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MyLocationActivity"
            android:exported="false" /> <!-- android:theme="@style/WelcomeTheme" -->
        <activity
            android:name=".ui.activity.mlkit.MLKITActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver android:name=".ui.activity.notify.NotificationReceiver" />
    </application>

</manifest>